doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Android向け日本地震モニタリングアプリ。')
        meta(name='author', content='')
        meta(name='google-site-verification', content='xEaXQp9gzRJsWrX7bGjO3pbF60fUqaeTzmYKvb8URww')

        title End-User License Agreement

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')
        link(href='css/styles.css', rel='stylesheet')

        script(type='application/javascript', src='https://arc.io/widget.min.js#3H9VPkg1', async)

    body(id='page-top', oncontextmenu='return false')
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='#page-top') JishinAlert
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='indexe.html#features') 特徴
                        li.nav-item
                            a.nav-link.me-lg-3(href='indexe.html#download') ダウンロード
                        li.nav-item
                            a.nav-link.me-lg-3(href='eulaen.html') English

        blockquote 本書は、英語版からの翻訳です。英語版と日本語版の間に矛盾や齟齬がある場合は、英語版が優先されます。
        h1 エンドユーザーライセンス契約（以下、「本契約」といいます。）
        p 最終更新日2022年1月18日
        br
        p 同意する」ボタンをクリックし、JishinAlertをダウンロードまたは使用する前に、このエンドユーザーライセンス契約書をよくお読みください。
        br
        h1 解釈と定義
        h2 定義
        p 本エンドユーザーライセンス契約の目的のため。:
        ul
            li element p 本契約とは、本アプリケーションの使用に関するお客様と当社との間の完全な合意を形成する、本エンドユーザーライセンス契約を意味します。
            li element p アプリケーションとは、お客様が機器にダウンロードした、当社が提供するソフトウェアプログラム（名称：JishinAlert）を意味します。
            li element p 当社（本規約において「当社」、「当社」または「当社」といいます）とは、JishinAlertを指します。
            li element p コンテンツとは、テキスト、画像、その他の情報など、お客様が投稿、アップロード、リンク、その他の方法で利用できるコンテンツを指し、その形態は問いません。
            li element p 国は指す。ベトナム
            li element p デバイスとは、コンピュータ、携帯電話、デジタルタブレットなど、本アプリケーションにアクセスできるすべての機器を指します。
            li element p 第三者サービスとは、第三者が提供するサービスまたはコンテンツ（データ、情報、アプリケーションおよびその他の製品サービスを含みます）で、本アプリケーションにより表示、包含または利用可能となるものをいいます。
            li element p お客様とは、本アプリにアクセスまたは使用する個人、または当該個人が代表して本アプリにアクセスまたは使用する会社、その他の法人を意味します（該当する場合）。
            br
            h1 謝辞
            p 同意する」ボタンをクリックし、本アプリケーションをダウンロードまたは使用することにより、お客様は本契約の条件に拘束されることに同意したものとみなされます。本契約の条項に同意されない場合は、「同意する」ボタンをクリックせず、本アプリをダウンロードまたは使用しないでください。
            br
            p 本契約は、お客様と当社との間の法的文書であり、当社がお客様に提供する本アプリケーションの使用について規定するものです。
            br
            p お客様が未成年の場合、本アプリを利用する前に、親、保護者またはその他の法定代理人の承諾を得る必要があります。
            br
            p 本アプリは、本契約の条項に従って厳密に使用するために、当社からお客様にライセンスされるものであり、販売されるものではありません。
            br
            h1 ライセンス
            h2 ライセンスの範囲
            p 当社は、お客様に対し、本契約の条項に従って厳密に本アプリケーションをダウンロード、インストール、および使用するための取消可能、非独占的、譲渡不能の限定的ライセンスを付与します。
            br
            p 当社がお客様に許諾するライセンスは、本契約の条項に従って、お客様の個人的な非商業的な目的にのみ使用されるものです。
            br
            h1 サードパーティ・サービス
            p 本アプリは、第三者のコンテンツ（データ、情報、アプリケーションおよびその他の製品サービスを含みます）を表示、包含または利用可能にし、第三者のウェブサイトまたはサービスへのリンクを提供することがあります。
            br
            p お客様は、当社が、第三者のサービス（その正確性、完全性、適時性、有効性、著作権遵守、適法性、良識、品質、その他のあらゆる側面を含む）について責任を負わないことを認め、これに同意するものとします。当社は、第三者サービスについて、お客様または他のいかなる個人もしくは団体に対しても、いかなる責任も負わないものとし、また、いかなる責任も負わないものとします。
            br
            p お客様は、本アプリケーションの使用にあたり、適用される第三者の規約を遵守する必要があります。第三者のサービスおよびそのリンクは、お客様の便宜のためにのみ提供されており、お客様は、完全にご自身のリスクで、当該第三者の規約に従ってアクセスおよび使用するものとします。
            br
            h1 使用上の制限
            p お客様は、本エンドユーザーライセンス契約の条項に従って厳密に本アプリケーションを使用するものとし、以下のことを行ってはならないものとします。
            br
            p (a) 本アプリケーションの逆コンパイル、リバースエンジニアリング、逆アセンブル、ソースコードの抽出の試み、または暗号の解読。
            br
            p (b) お客様による本アプリのアクセスまたは使用に関連して、適用される法律、規則または規制に違反すること。
            br
            p (c) 本アプリケーションの提供を妨害する、またはそのおそれがある方法、公序良俗に反する方法、当社または第三者の著作権、知的財産権、プライバシー権、パブリシティ権、人格権、その他の権利を侵害する、当社または第三者のコンピューターまたは業務の運用を妨害する、またはそのおそれがある方法で本アプリケーションを利用すること。
            br
            p (d) 当社、その関連会社、パートナー、サプライヤー、または本アプリケーションのライセンサーの所有権表示（著作権または商標に関する表示を含む）を削除、変更、または不明瞭にすること。
            br
            p (e) 収入を得るための努力、営利事業、または設計されていない、あるいは意図されていないその他の目的のために本アプリを使用すること。
            br
            p (f) 本アプリ以外の手段で、かつ当社が意図しない方法で本アプリのAPIにアクセスすること。
            br
            p (f) 本アプリ以外の手段で、かつ当社が意図しない方法で本アプリのAPIにアクセスすること。
            br
            p (h) 本アプリケーションで使用するためのアプリケーション、アクセサリーまたはデバイスの設計、開発、製造、ライセンスまたは配布において、当社の専有情報またはインターフェース、あるいは当社のその他の知的財産を使用すること。
            br
            p (i) その他、当社が不適切と判断する行為を行うこと。
            br
            h1 個人情報の取り扱いについて
            p 当社は、別途定める「プライバシーポリシー」に従い、利用者の個人情報を適切に取り扱います。
            br
            h1 期間と終了時期
            p 本契約は、お客様または当社が終了させるまで有効であるものとします。当社は、独自の判断により、いつでも、理由の如何を問わず、本契約を予告なしに中断または終了することができるものとします。
            br
            p 本契約は、お客様が本契約のいずれかの条項に従わない場合、当社からの事前の通知なく、直ちに終了します。また、お客様は、本アプリおよびそのすべての複製物をお客様の端末またはコンピュータから削除することにより、本契約を終了させることができます。
            br
            p 本契約が終了した場合、お客様は、本アプリケーションのすべての使用を中止し、お客様のデバイスから本アプリケーションのすべてのコピーを削除するものとします。
            br
            p 本契約の終了は、お客様が（本契約の期間中に）本契約に基づく義務に違反した場合、当社の法律上または衡平法上の権利または救済手段を制限するものではありません。
            br
            h1 免責事項
            p お客様は、当社およびその親会社、子会社、関連会社、役員、従業員、代理店、パートナーおよびライセンサー（もしあれば）を、お客様が起因しまたは起因する、合理的な弁護士費用を含むいかなるクレームまたは要求からも補償し、損害を受けないようにすることに同意します。(a) 本アプリケーションの使用 (b) 本契約または法令に対する違反 (c) 第三者の権利の侵害。
            br
            h1 無保証
            p 本アプリは、「現状有姿」かつ「利用可能」な状態で、いかなる種類の保証もなく提供されるものであり、いかなる障害や欠陥も存在しません。適用される法律で認められる最大限の範囲において、当社は、自己のため、関連会社、ライセンサー、サービスプロバイダーのために、明示、黙示、法定、その他を問わず、本アプリケーションに関するすべての保証（商品性、特定目的への適合性、権利、非侵害に関するすべての黙示保証、取引の過程、履行過程、使用、取引慣行に由来する保証を含む）を明示的に否認します。上記を制限することなく、当社は、本アプリがお客様の要求を満たし、意図した結果を達成し、他のソフトウェア、アプリケーション、システムまたはサービスと互換性を持ち、中断なく動作し、性能または信頼性の基準を満たし、エラーがなく、エラーまたは欠陥が修正可能または修正されるという保証または約束を提供せず、いかなる種類の説明も行いません。
            br
            p 上記を制限することなく、当社および当社の提供者は、明示または黙示を問わず、いかなる種類の表明または保証も行いません。(i) 本アプリケーションの動作または利用可能性、あるいはそこに含まれる情報、コンテンツ、資料または製品に関すること、(ii) 本アプリケーションが中断されないことまたはエラーがないこと、(iii) 本アプリケーションを通じて提供される情報またはコンテンツの精度、信頼性および最新性に関すること、または (iv) 本製品、そのサーバ、コンテンツ、または当社からまたは当社の代理として送信するEメールにはウイルス、スクリプト、トロイの木馬、ワーム、マルウエア、タイムボムその他の有害要素がないことです。
            br
            p 法域によっては、ある種の保証の除外または消費者の適用される法的権利の制限を認めていないため、上記の除外および制限の一部または全部がお客様に適用されない場合があります。ただし、その場合、本条に定める排除および制限は、適用法の下で強制可能な最大限の範囲において適用されるものとします。法律に基づいて免責できない保証が存在する限り、当社は、当該保証について単独で責任を負うものとします。
            br
            h1 責任の制限
            p お客様が被る可能性のある損害にかかわらず、本契約のいかなる条項に基づく当社およびその供給者の全責任、および前述のすべてに対するお客様の唯一の救済は、お客様が本アプリケーションまたは本アプリケーションを通じて実際に支払った金額、またはお客様が本アプリケーションを通じて何も購入していない場合は100米ドルに限定されるものとします。
            br
            p 適用される法律が許容する最大限の範囲において、当社またはそのサプライヤーは、いかなる場合も、特別損害、付随的損害、間接損害または派生的損害（利益の損失、データまたはその他の情報の損失、事業の中断、人身事故に関する損害を含むが、これに限定されない）について責任を負わないものとします。当社またはサプライヤーがそのような損害の可能性について知らされていたとしても、また救済措置がその本質的目的を果たさない場合でも、本アプリ、本アプリと共に使用される第三者のソフトウェアおよび/または第三者のハードウェアの使用または使用不能に起因または何らかの形で関連するプライバシーの損失。
            br
            p 一部の州/管轄区域では、付随的または結果的損害の除外または制限を認めていないため、上記の制限または除外がお客様に適用されない場合があります。
            br
            h1 分離可能性および放棄
            h2 分離可能性
            p 本契約のいずれかの条項が執行不能または無効であるとされた場合、かかる条項は、適用される法律の下で可能な限り当該条項の目的を達成するように変更され解釈され、残りの条項は引き続き完全に効力を有するものとします。
            br
            h2 権利放棄
            p 本契約に定める場合を除き、本契約に基づく権利の行使または義務の履行を要求しなかったとしても、その後いつでも当事者がかかる権利を行使しまたはかかる履行を要求できることに影響を与えるものではなく、また、違反の放棄は、その後の違反の放棄を構成するものではありません。
            br
            h2 製品クレーム
            p 当社は、必要に応じて、新機能やバグフィックス等、定期的に本アプリを更新することがあり、また、当社が受領したフィードバックや提案を実施することがあります。
            br
            h2 米国における法令遵守について
            p お客様は、(i)お客様が米国政府の禁輸対象国、または米国政府により「テロリスト支援国」として指定された国に居住していないこと、(ii)お客様が米国政府の禁止・制限対象者リストに掲載されていないことを表明し保証するものとします。
            br
            h2 本契約の変更
            p 当社は、独自の判断により、本契約をいつでも修正または変更できる権利を留保します。修正が重要な場合は、新しい条項が有効になる前に、少なくとも30日前に通知します。何をもって重要な変更とするかは、当社の独自の裁量で決定されます。
            br
            p 改定が発効した後も本アプリへのアクセスまたは使用を継続することにより、お客様は改定後の規約に拘束されることに同意したものとみなされます。お客様が新しい条件に同意されない場合、お客様は本アプリケーションを使用する権限がなくなります。
            br
            h1 準拠法
            p 本契約およびお客様の本アプリケーションの使用については、抵触法の規定を除く、日本国の法律が適用されるものとします。また、お客様による本アプリケーションの使用には、他の地域、州、国、または国際的な法律が適用される場合があります。
            h1 完全な合意
            p 本契約は、お客様による本アプリケーションの使用に関するお客様と当社との間の完全な合意を構成し、お客様と当社との間の過去および同時期のすべての書面または口頭による合意に取って代わります。
            br
            p お客様は、他の会社のサービスを利用または購入する際に適用される追加の条件を受けることがあり、当社は、かかる利用または購入の際にお客様に提供します。
            br
            h1 お問い合わせ
            p 本契約についてご質問がある場合、お客様は、当社に連絡することができます。
            ul
                li element p メールでのお問い合わせ： vietnameseenderbot@gmail.com

        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; JishinAlert 2021. 無断転載を禁じます。
                    // a(href='#!') Privacy
                    // span.mx-1 &middot;
                    // a(href='#!') Terms
                    // span.mx-1 &middot;
                    // a(href='#!') FAQ

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        script(src='js/scripts.js')
