doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Japan earthquake monitoring app for Android.')
        meta(name='author', content='')
        meta(name='google-site-verification', content='xEaXQp9gzRJsWrX7bGjO3pbF60fUqaeTzmYKvb8URww')

        title JishinAlert

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')
        link(href='css/styles.css', rel='stylesheet')

        script(type='application/javascript', src='https://arc.io/widget.min.js#3H9VPkg1', async)

    body(id='page-top', oncontextmenu='return false')
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='#page-top') JishinAlert
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='#features') Features
                        li.nav-item
                            a.nav-link.me-lg-3(href='#download') Download
                        li.nav-item
                            a.nav-link.me-lg-3(href='index.html') 日本語

        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .mb-5.mb-lg-0.text-center.text-lg-start
                            h1.display-1.lh-1.mb-3 JishinAlert coming soon™
                            p.lead.fw-normal.text-muted.mb-5 Japan earthquake monitoring app for Android that delivers you fast and accurate information. Powered by NIED's dense seismometers network across Japan.
                            .d-flex.flex-column.flex-lg-row.align-items-center
                                // a.me-lg-3.mb-4.mb-lg-0(href='#!')
                                    img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                                // a(href='#!')
                                    img.app-badge(src='assets/img/app-store-badge.svg', alt='...')
                    .col-lg-6
                        .masthead-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/rt_earthquake_monitor.webm', type='video/webm')
                                        img(src='assets/img/rt_earthquake_monitor.png', style='max-width: 100%; height: 100%;')

        section#features
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-8.order-lg-1.mb-5.mb-lg-0
                        .container-fluid.px-5
                            .row.gx-5
                                .col-md-6.mb-5
                                    .text-center
                                        i.bi.bi-exclamation-triangle-fill
                                        h3.font-alt Earthquake Early Warnings
                                        p.text-muted.mb-0 Receive fast Earthquake Early Warnings directly on your device, with little battery usage.
                                .col-md-6.mb-5
                                    .text-center
                                        i.bi.bi-soundwave
                                        h3.font-alt Real-time Seismic Monitor
                                        p.text-muted.mb-0 Zoom into your location, or pan across the country to view the progress of an earthquake in real time.
                            .row
                                .col-md-6.mb-5.mb-md-0
                                    .text-center
                                        i.bi.bi-journal-check
                                        h3.font-alt Detailed Earthquake Information
                                        p.text-muted.mb-0 View detailed seismic intensity, tsunami and other information of an earthquake, right in the app.
                                .col-md-6
                                    .text-center
                                        i.bi.bi-tsunami
                                        h3.font-alt Tsunami Warnings
                                        p.text-muted.mb-0 A tsunami might be created following an earthquake or other events such as volcanic eruptions. JishinAlert displays warning and tsunami information in an easy to understand manner.
                    .col-lg-4.order-lg-0
                        .features-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/tsunami_warning.webm', type='video/webm')
                                        img(src='assets/img/tsunami_warning.png', style='max-width: 100%; height: 100%;')

        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        h2.display-4.lh-1.mb-4 Fast and accurate notifications
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0 The timeframe between an Earthquake Early Warning and the arrival of strong tremors can be as narrow as a few seconds. With this app, you can get warnings and information delivered to you instantly for you to be prepared.
                    .col-sm-8.col-md-6
                        .px-5.px-sm-0
                            .features-device-mockup
                                include includes/gradient-circle
                                include includes/shape-1
                                include includes/shape-2
                                .device-wrapper
                                    .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                        .screen.bg-black
                                            // video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                                source(src='assets/img/eew_notification.webm', type='video/webm')
                                            img(src='assets/img/eew_notification.png', style='max-width: 100%; height: 100%;')

        section#download.bg-gradient-primary-to-secondary
            .container.px-5
                h2.text-center.text-white.font-alt.mb-4 Stay tuned! Subscribe to our newsletter. You can unsubscribe anytime.
                .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
                    // a.me-lg-3.mb-4.mb-lg-0(href='#!')
                        img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                    // a(href='#!')
                        img.app-badge(src='assets/img/app-store-badge.svg', alt='...')
                    form(action='https://app.getresponse.com/add_subscriber.html', method='POST', id='newsletter-form')
                        p
                            | Email address:
                            input(type='text' name='email')
                        input(type='hidden', name='campaign_token', value='Z9Go2')
                        input(type='hidden', name='start_day', value='0')
                        // input(type='submit', value='Subscribe')
                        button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(onclick='document.getElementById("newsletter-form").submit()')
                            span.d-flex.align-items-center
                                i.bi-chat-text-fill.me-2
                                span.small Subscribe

        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; JishinAlert 2021. All Rights Reserved.
                    a(href='eulaen.html') EULA
                    span.mx-1 &middot;
                    a(href='https://discord.gg/c3EGUnjG') Discord 
                    span.mx-1 &middot;
                    a(href='privacyen.html') Privacy
                    // a(href='#!') Privacy
                    // span.mx-1 &middot;
                    // a(href='#!') Terms
                    // span.mx-1 &middot;
                    // a(href='#!') FAQ

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        script(src='js/scripts.js')
