doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Android向け日本地震モニタリングアプリ。')
        meta(name='author', content='')
        meta(name='google-site-verification', content='xEaXQp9gzRJsWrX7bGjO3pbF60fUqaeTzmYKvb8URww')

        title JishinAlert

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')
        link(href='css/styles.css', rel='stylesheet')

        script(type='application/javascript', src='https://arc.io/widget.min.js#3H9VPkg1', async)

    body(id='page-top', oncontextmenu='return false')
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='#page-top') JishinAlert
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='#features') 特徴
                        li.nav-item
                            a.nav-link.me-lg-3(href='#download') ダウンロード
                        li.nav-item
                            a.nav-link.me-lg-3(href='/indexe.html') English

        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .mb-5.mb-lg-0.text-center.text-lg-start
                            h1.display-1.lh-1.mb-3 JishinAlert近日公開
                            p.lead.fw-normal.text-muted.mb-5 迅速かつ正確な情報をお届けするAndroid向け日本地震モニタリングアプリです。NIEDの日本全国に張り巡らされた地震計ネットワークを搭載しています。
                            .d-flex.flex-column.flex-lg-row.align-items-center
                                // a.me-lg-3.mb-4.mb-lg-0(href='#!')
                                    img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                                // a(href='#!')
                                    img.app-badge(src='assets/img/app-store-badge.svg', alt='...')
                    .col-lg-6
                        .masthead-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/rt_earthquake_monitor.webm', type='video/webm')

        section#features
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-8.order-lg-1.mb-5.mb-lg-0
                        .container-fluid.px-5
                            .row.gx-5
                                .col-md-6.mb-5
                                    .text-center
                                        i.bi.bi-exclamation-triangle-fill
                                        h3.font-alt 緊急地震速報
                                        p.text-muted.mb-0 バッテリー消費を抑えながら、緊急地震速報を端末に直接受信することができます。
                                .col-md-6.mb-5
                                    .text-center
                                        i.bi.bi-soundwave
                                        h3.font-alt リアルタイム地震モニター
                                        p.text-muted.mb-0 現在地にズームインしたり、全国にパンして、地震の進行状況をリアルタイムで見ることができます。
                            .row
                                .col-md-6.mb-5.mb-md-0
                                    .text-center
                                        i.bi.bi-journal-check
                                        h3.font-alt 地震に関する詳細情報
                                        p.text-muted.mb-0 地震の詳細な震度や津波などの情報を、アプリ内で見ることができます。
                                .col-md-6
                                    .text-center
                                        i.bi.bi-tsunami
                                        h3.font-alt 津波警報
                                        p.text-muted.mb-0 地震や火山噴火などで津波が発生することがあります。JishinAlertは、警報や津波の情報をわかりやすく表示します。
                    .col-lg-4.order-lg-0
                        .features-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/tsunami_warning.webm', type='video/webm')

        // Basic features section
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        h2.display-4.lh-1.mb-4 迅速かつ正確な通知
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0 緊急地震速報から強い揺れが到達するまでの時間帯は、数秒という狭さです。このアプリを使えば、警告や情報を即座に配信してもらえるので、備えができます。
                    .col-sm-8.col-md-6
                        .px-5.px-sm-0
                            .features-device-mockup
                                include includes/gradient-circle
                                include includes/shape-1
                                include includes/shape-2
                                .device-wrapper
                                    .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                        .screen.bg-black
                                            video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                                source(src='assets/img/eew_notification.webm', type='video/webm')

        section#download.bg-gradient-primary-to-secondary
            .container.px-5
                h2.text-center.text-white.font-alt.mb-4 ご期待ください ニュースレターを購読してください。配信停止はいつでも可能です。
                .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
                    // a.me-lg-3.mb-4.mb-lg-0(href='#!')
                        img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                    // a(href='#!')
                        img.app-badge(src='assets/img/app-store-badge.svg', alt='...')
                    form(action='https://app.getresponse.com/add_subscriber.html', method='POST')
                        p
                            | 電子メール
                            input(type='text' name='email')
                        input(type='hidden', name='campaign_token', value='Z9Go2')
                        input(type='hidden', name='start_day', value='0')
                        // input(type='submit', value='Subscribe')
                        button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(onclick='document.getElementById("newsletter-form").submit()')
                            span.d-flex.align-items-center
                                i.bi-chat-text-fill.me-2
                                span.small サブスクライブ

        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; JishinAlert 2021. 無断転載を禁じます。
                    // a(href='#!') Privacy
                    // span.mx-1 &middot;
                    // a(href='#!') Terms
                    // span.mx-1 &middot;
                    // a(href='#!') FAQ

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        script(src='js/scripts.js')
