doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Japan earthquake monitoring app for Android.')
        meta(name='author', content='')
        meta(name='google-site-verification', content='xEaXQp9gzRJsWrX7bGjO3pbF60fUqaeTzmYKvb8URww')
        meta(name='robots', content='noindex')

        title プライバシーポリシー

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')
        link(href='css/styles.css', rel='stylesheet')

        script(type='application/javascript', src='https://arc.io/widget.min.js#3H9VPkg1', async)

    body(id='page-top', oncontextmenu='return false', style='margin: 14px;')
        h1 プライバシーポリシー
        p 最終更新日2022年1月19日
        br
        p 本プライバシーポリシーは、お客様が本サービスをご利用になる際のお客様の情報の収集、使用および開示に関する当社の方針および手続きを説明するものであり、お客様のプライバシー権および法律による保護方法について説明するものです。
        br
        p 当社は、本サービスの提供および改善のためにお客様の個人データを使用します。お客様は、本サービスをご利用になることにより、本プライバシーポリシーに基づく情報の収集および使用に同意されたものとします。
        br
        h1 解釈と定義
        h2 定義
        p このプライバシーポリシーの目的のために
        br
        ul 
            li アカウント」とは、本サービスまたは本サービスの一部にアクセスするためにお客様が作成した固有のアカウントをいいます。
            li 関連会社」とは、当事者を支配しているか、当事者に支配されているか、当事者と共通の支配下にある事業体をいいます。ここで、「支配」とは、取締役の選任やその他の経営権を得るための投票権を有する株式、出資持分、その他の証券を50％以上所有していることを意味します。
            li アプリケーション」とは、当社が提供するソフトウェア・プログラムで、お客様が任意の電子機器にダウンロードした「JishinAlert」を意味します。
            li 当社（本契約では、「当社」、「当社」のいずれかとします）とは、JishinAlertを指します。
            li 国名が参照されます。ベトナム
            li デバイス」とは、コンピュータ、携帯電話、デジタルタブレットなど、本サービスにアクセスできるあらゆる機器を意味します。
            li 個人データとは、識別された、または識別可能な個人に関連するあらゆる情報です。
            li サービスとは、アプリケーションのことです。
            li サービス提供者とは、当社に代わってデータを処理する自然人または法人を指します。本サービスを促進するため、当社に代わって本サービスを提供するため、本サービスに関連するサービスを行うため、または本サービスの利用状況を分析するために当社を支援するために当社が雇用する第三者企業または個人を指します。
            li 利用データとは、本サービスの利用によって生成された、または本サービスのインフラ自体から自動的に収集されたデータを指します（例えば、ページ訪問の継続時間など）。
            li お客様とは、本サービスにアクセスまたは利用している個人、または当該個人が代表して本サービスにアクセスまたは利用している会社その他の法人を意味します。
        br
        h1 お客様の個人情報の収集と利用
        h2 収集されるデータの種類
        h3 個人情報
        p 当社のサービスをご利用の際、当社は、お客様に連絡するため、またはお客様を特定するために使用できる特定の個人識別情報の提供をお願いすることがあります。個人情報には以下のものが含まれますが、これらに限定されるものではありません。
        br
        ul 
            li Eメールアドレス
            li 使用データ
        br
        h3 使用データ
        p 利用データは、本サービスを利用する際に自動的に収集されます。
        br
        p 利用データには、お客様のデバイスのインターネットプロトコルアドレス（例：IPアドレス）、ブラウザの種類、ブラウザのバージョン、お客様がアクセスした本サービスのページ、お客様がアクセスした日時、それらのページでの滞在時間、デバイス固有の識別子、その他の診断データなどの情報が含まれる場合があります。
        br
        p お客様がモバイル機器を利用して本サービスにアクセスすると、当社は、お客様が使用するモバイル機器の種類、モバイル機器固有のID、モバイル機器のIPアドレス、モバイル機器のオペレーティングシステム、お客様が使用するモバイルインターネットブラウザの種類、機器固有の識別子、その他の診断データなどの特定の情報を自動的に収集することがあります。
        br
        p また、当社は、お客様が当社のサービスをご利用になる際、またはお客様がモバイル機器を利用してサービスにアクセスされる際に、お客様のブラウザが送信する情報を収集することがあります。
        br
        h3 アプリケーションの使用中に収集される情報
        p 当社は、当社のアプリケーションを使用している間、当社のアプリケーションの機能を提供するために、お客様の事前の許可を得て、収集することがあります。
        br
        ul 
            li お客様の所在地に関する情報
        br
        p 当社はこの情報を、当社サービスの機能を提供し、当社サービスを改善し、カスタマイズするために使用します。これらの情報は、当社のサーバーおよび／またはサービスプロバイダーのサーバーにアップロードされることもあれば、単にお客様のデバイスに保存されることもあります。
        br
        p お客様は、お客様のデバイスの設定により、この情報へのアクセスをいつでも有効または無効にすることができます。
        br
        h2 お客様の個人情報の利用について
        p 当社は、以下の目的で個人情報を利用することがあります。
        br
        ul 
            li 当社サービスの利用状況の把握を含む、当社サービスの提供および維持のため。
            li お客様のアカウントを管理するため：本サービスのユーザーとしてのお客様の登録を管理するため。お客様が提供した個人情報により、お客様は登録ユーザーとして利用可能な本サービスのさまざまな機能にアクセスすることができます。
            li 契約の履行のため：お客様が購入した商品、アイテム、サービスの購入契約、または本サービスを通じた当社とのその他の契約の開発、遵守、および引き受けのため。
            li お客様に連絡するため。セキュリティアップデートを含む機能性、製品、契約サービスに関連するアップデートや情報提供に関するモバイルアプリケーションのプッシュ通知など、電子メール、電話、SMS、その他同等の電子通信手段を用いて、その実施に必要または合理的な場合にお客様に連絡すること。
            li お客様がそのような情報を受け取らないことを選択した場合を除き、お客様が既に購入または問い合わせをした商品に類似した、当社が提供する他の商品、サービス、イベントに関するニュース、スペシャルオファー、一般的な情報を提供すること。
            li お客様のリクエストを管理するため。お客様のご要望にお応えし、管理するため
            li 事業譲渡のため。当社は、合併、分割、再編、再編成、解散、その他当社の資産の一部または全部の売却または譲渡を評価または実施するために、お客様の情報を使用することがあります。これは、継続企業であるか、破産、清算、または同様の手続きの一部であるかを問いませんが、その際、当社が保有するサービス利用者に関する個人データが譲渡資産に含まれます。
            li その他の目的のために当社は、お客様の情報を、データ分析、利用傾向の把握、販促キャンペーンの効果判定、当社のサービス、製品、サービス、マーケティングおよびお客様の体験の評価と改善など、その他の目的のために使用することがあります。
        br
        p 当社は、以下の場合にお客様の個人情報を共有することがあります。
        br
        ul 
            li サービス・プロバイダーとの共同利用当社は、当社サービスの利用状況を監視・分析し、お客様に連絡するために、お客様の個人情報をサービス提供者と共有することがあります。
            li 事業譲渡の場合。当社は、合併、当社資産の売却、資金調達、または当社事業の全部もしくは一部の他社への買収に関連して、またはその交渉中に、お客様の個人情報を共有または移転することがあります。
            li 関連会社との共同利用当社は、お客様の情報を当社の関連会社と共有することがあります。その場合、当社は、これらの関連会社に本プライバシー・ポリシーを遵守するよう求めます。関連会社には、当社の親会社、当社が支配する、または当社と共通の支配下にあるその他の子会社、ジョイントベンチャーパートナー、その他の企業が含まれます。
            li ビジネスパートナーとの共同利用当社は、お客様に特定の製品、サービス、プロモーションを提供するために、お客様の情報を当社のビジネスパートナーと共有することがあります。
            li 他のユーザーとの関係：お客様が個人情報を共有したり、パブリックエリアで他のユーザーと交流したりすると、そのような情報はすべてのユーザーが閲覧し、外部に公開されることがあります。
            li お客様の同意がある場合。当社は、お客様の同意を得て、その他の目的でお客様の個人情報を開示することがあります。
        br
        h2 お客様の個人情報の保持について
        p 当社は、本プライバシーポリシーに記載された目的に必要な期間のみ、お客様の個人データを保持します。当社は、当社の法的義務（例えば、適用される法律を遵守するためにお客様のデータを保持する必要がある場合）を遵守し、紛争を解決し、当社の法的契約およびポリシーを執行するために必要な範囲で、お客様の個人データを保持および使用します。
        br
        p また、当社は、内部分析の目的で利用データを保持します。ただし、このデータが当社のサービスのセキュリティ強化または機能向上のために使用される場合、または当社がこのデータをより長期間保持することが法的に義務付けられている場合を除きます。
        br
        h2 お客様の個人情報の移転について
        p 個人データを含むお客様の情報は、当社の営業所および処理に関与する当事者が所在するその他の場所で処理されます。これは、データ保護法がお客様の管轄区域とは異なる可能性があるお客様の州、省、国、またはその他の政府管轄区域の外にあるコンピュータに、この情報が転送され、維持される可能性があることを意味します。
        br
        p 本プライバシーポリシーへの同意に続いて、お客様がそのような情報を提出した場合、お客様はその転送に同意したことになります。
        br
        p 当社は、お客様のデータが本プライバシーポリシーに従って安全に取り扱われるよう、合理的に必要なあらゆる措置を講じます。また、お客様のデータおよびその他の個人情報のセキュリティを含む適切な管理が行われていない限り、お客様の個人データの組織または国への移転は行われません。
        br
        h2 お客様の個人情報の開示について
        h3 商取引
        p 当社が合併、買収、または資産売却に関与する場合、お客様の個人データが譲渡される可能性があります。お客様の個人データが譲渡され、異なるプライバシーポリシーの対象となる前に、当社は通知を行います。
        br
        h3 法執行機関
        p 特定の状況下において、当社は、法律によって要求された場合、または公的機関（裁判所や政府機関など）からの正当な要求に応じて、お客様の個人データを開示する必要がある場合があります。
        br
        h3 その他の法的要件
        p 当社は、以下の目的のために必要であると誠実に判断した場合、お客様の個人データを開示することがあります。
        ul 
            li 法的義務の遵守
            li 会社の権利または財産の保護および防御
            li 本サービスに関連して起こりうる不正行為を防止または調査するため。
            li 本サービスの利用者または公衆の個人的な安全を守ること
            li 法的責任からの保護
        br
        h2 お客様の個人情報の保護について
        p お客様の個人データのセキュリティは当社にとって重要であり、当社は商業的に許容される手段を用いてデータへの不正アクセス、漏洩、改ざんを防止するよう努めていますが、インターネット上での送信方法や電子的な保存方法は100％安全ではなく、当社はその絶対的なセキュリティを保証することはできないことに留意してください。
        br
        h1 子どもたちのプライバシー
        p 当社のサービスは、13歳未満の方を対象としていません。当社は、13歳未満の方から意図的に個人を特定できる情報を収集することはありません。 お客様が親または保護者であり、お客様のお子様が当社に個人データを提供したことに気付いた場合は、当社にご連絡ください。親の同意を確認せずに13歳未満の方から個人データを収集したことが判明した場合、当社はその情報を当社のサーバーから削除する措置を講じます。
        br
        p 当社がお客様の情報を処理する法的根拠として同意に依拠する必要があり、お客様の国が親の同意を必要とする場合、当社はその情報を収集し使用する前にお客様の親の同意を必要とすることがあります。
        br
        h1 他のウェブサイトへのリンク
        p 当社のサービスには、当社が運営していない他のウェブサイトへのリンクが含まれている場合があります。お客様が第三者のリンクをクリックすると、お客様はその第三者のサイトに移動します。当社は、お客様がアクセスするすべてのサイトのプライバシーポリシーを確認することを強くお勧めします。
        br
        p 当社は、第三者のサイトまたはサービスのコンテンツ、プライバシーポリシーまたは慣行を管理しておらず、これらについて一切の責任を負いません。
        br
        h1 本プライバシーポリシーの変更
        p 当社は、当社のプライバシー・ポリシーを適宜更新することがあります。変更があった場合は、このページに新しいプライバシーポリシーを掲載して、お客様にお知らせします。
        br
        p 当社は、変更が有効になる前に、電子メールおよび／または当社のサービス上の著名な通知によりお客様にお知らせし、本プライバシーポリシーの上部にある「最終更新日」を更新します。
        br
        p 当社は、変更が有効になる前に、電子メールおよび／または当社のサービス上の著名な通知によりお客様にお知らせし、本プライバシーポリシーの上部にある「最終更新日」を更新します。
        br
        h1 お問い合わせ
        p 本プライバシーポリシーについてご不明な点がございましたら、当社までお問い合わせください。
        ul 
            li 電子メールで： jishinalert@gmail.com

        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; JishinAlert 2021. 無断転載を禁じます。
                    a(href='eula.html') EULA
                    span.mx-1 &middot;
                    a(href='https://discord.gg/c3EGUnjG') Discord 
                    span.mx-1 &middot;
                    a(href='privacy.html') プライバシー

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        script(src='js/scripts.js')
